---
import PageLayout from '../layouts/PageLayout.astro';
import ContactForm from '../components/forms/ContactForm.astro';
---

<PageLayout title="Contacto" description="Contacta a CMEO Especialistas para agendar tu cita medica">
  <div class="pt-8">
    <ContactForm showMap={true} />
  </div>
</PageLayout>
